body {
	background: #97d4f1;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.plateau {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: #000;
	padding: 20px;
}

.container-joueur-left {
	width: 200px;
	height: 150px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.container-joueur-top-left {
	width: 200px;
	height: 150px;
	position: absolute;
	left: 10%;
	top: 20px;
}

.container-joueur-top {
	width: 200px;
	height: 150px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
}

.container-joueur-top-right {
	width: 200px;
	height: 150px;
	position: absolute;
	right: 10%;
	top: 20px;
}

.container-joueur-right {
	width: 200px;
	height: 150px;
	position: absolute;
	margin: auto;
	right: 0;
	top: 0;
	bottom: 0;
}

.mes-cartes {
	width: 100px;
	height: 150px;
	position: absolute;
	left: 0;
	bottom: -50px;
	right: 0;
	margin: auto;
}

.mes-des {
	position: absolute;
	height: 100px;
	bottom: 0;
	right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: center;
	flex-wrap: wrap;
	align-content: center;
	font-family: 'Open Sans', sans-serif;
}

.center-plateau {
	position: absolute;
	width: 300px;
	height: 250px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.pioche {
	position: relative;
	margin: auto;
	left: 0;
	right: 0;
	width: 80px;
	height: 130px;
}

.result-de {
	position: relative;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: center;
	flex-wrap: wrap;
	align-content: center;
	font-family: 'Open Sans', sans-serif;
}

.dice_w {
	position: relative;
	margin: 5px;
	padding: 2px;
	background-color: #e7e7e7;
	width: 50px;
	height: 50px;
	background-image: url("../img/backgrounds/mini-coin.png");
	background-size:     35px 35px;                      
    background-repeat:   no-repeat;
    background-position: 50% 50%; 
	object-fit: contain;
	box-shadow: inset 0 3px white, inset 0 -3px #bbb, inset 3px 0 #d7d7d7,
		inset -3px 0 #d7d7d7;
	border-radius: 10%;
}

.dice_d {
	position: relative;
	margin: 5px;
	padding: 2px;
	background-color: #e7e7e7;
	width: 50px;
	height: 50px;
	background-image: url("../img/backgrounds/de.png");
	background-size:     35px 35px;                      
    background-repeat:   no-repeat;
    background-position: 50% 50%; 
	object-fit: contain;
	box-shadow: inset 0 3px white, inset 0 -3px #bbb, inset 3px 0 #d7d7d7,
		inset -3px 0 #d7d7d7;
	border-radius: 10%;
}

.dice_c {
	position: relative;
	margin: 5px;
	padding: 2px;
	background-color: #e7e7e7;
	width: 50px;
	height: 50px;
	background-image: url("../img/backgrounds/carte.png");
	background-size:     35px 35px;                      
    background-repeat:   no-repeat;
    background-position: 50% 50%; 
	object-fit: contain;
	box-shadow: inset 0 3px white, inset 0 -3px #bbb, inset 3px 0 #d7d7d7,
		inset -3px 0 #d7d7d7;
	border-radius: 10%;
}

.mini_dice_w {
	position: relative;
	margin: 5px;
	padding: 2px;
	background-color: #e7e7e7;
	width: 25px;
	height: 25px;
	background-image: url("../img/backgrounds/mini-coin.png");
	background-size:     14px 14px;                      
    background-repeat:   no-repeat;
    background-position: 50% 50%; 
	object-fit: contain;
	box-shadow: inset 0 1px white, inset 0 -1px #bbb, inset 1px 0 #d7d7d7,
		inset -1px 0 #d7d7d7;
	border-radius: 10%;
}

.menu_plateau{
	position: absolute;
	bottom:0;
	left:0;
	z-index:9999;
	display: inline;
	height:50px;
}

.zone_selection{
	position:absolute;
	bottom:55px;
	left:0;
	display: inline;
	height:120px;
	background:white;
	border-radius:3px;
	padding:3px;
}

.joueur{
	color:black;
	position: relative;
	height:100px;
	margin-auto;
	
	border-radius:3px;
	margin-left:5px;
	margin-right:5px;
}

.joueur:hover{
	background:white;
}

.highlight{
	background-color:#C76C0C;
}

.de{
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: center;
	flex-wrap: wrap;
	align-content: center;
	font-family: 'Open Sans', sans-serif;
}

.info{
	position:absolute;
	top:0px;
	right:0px;
	background: #5ba14b;
	border-radius:3px;
	color:#fff;
}

